.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .confirmation-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .confirmation-modal h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  .confirmation-modal p {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .confirmation-modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .confirmation-modal-buttons .confirm-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .confirmation-modal-buttons .confirm-btn:hover{
    background-color: maroon;
  }
  
  .cancel-btn {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-btn:hover, .cancel-btn:hover {
    opacity: 0.8;
  }
  